:root {
  --animation-delay: 0s;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.tooltip {
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  border: none;
  background-color: #2ecc71;
  color: white;
  font-size: 22px;
  padding: 5px;
}

.tooltip-text {
  position: absolute;
  z-index: 1;
  background-color: #2e3acc;
  color: white;
  padding: 10px;
  border-radius: 6px;
  width: 120px;
  min-height: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip-text.active {
  opacity: 1;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
}

.tooltip-top::before {
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
  border-color: #2e3acc transparent transparent transparent;
}

.tooltip-right::before {
  left: -20px;
  top: 50%;
  margin-top: -10px;
  border-color: transparent #2e3acc transparent transparent;
}

.tooltip-bottom::before {
  top: -20px;
  left: 50%;
  margin-left: -10px;
  border-color: transparent transparent #2e3acc transparent;
}

.tooltip-left::before {
  right: -20px;
  top: 50%;
  margin-top: -10px;
  border-color: transparent transparent transparent #2e3acc;
}

/* position change */

.tooltip-top {
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-right {
  top: 50%;
  left: 160px;
  transform: translateY(-50%);
}

.tooltip-bottom {
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-left {
  top: 50%;
  left: -160px;
  transform: translateY(-50%);
}

/* theme change   */

.tooltip-warning {
  background-color: #cc712e;
}

.tooltip-error {
  background-color: #cc2e3a;
}

.tooltip-success {
  background-color: #2ecc71;
}

/* animation fade */

@keyframes fade {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.animation-fade {
  animation: fade 1s var(--animation-delay);
}

/* animation slide */

@keyframes slide {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animation-slide {
  animation: slide 1s var(--animation-delay);
}

/* animation expand */

@keyframes expand {
  from {
    width: 0;
    /* height: 0; */
  }
  to {
    width: 100%;
    /* height: 100px; */
  }
}

.animation-expand {
  animation: expand 0.3s var(--animation-delay);
}
